.lection {
  position: absolute;
  background-color: $whiteColor;
  padding: 20px 0;
  box-shadow: 0 2px 0 hsla(167, 55%, 23%, 0.25);
  bottom: 0;
  right: 50%;
  transform: translate(50%, 50%);
  width: 90%;
  max-width: 440px;
  text-align: center;

  @include onTablet {
    padding: 55px 100px;
    max-width: 570px;
  }

  &__name {
    display: inline;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #687480;
    margin: 0 23px 0 0;

    @include onTablet {
      font-size: 14px;
    }
  }
  &__data {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #1a5a4c;

    @include onTablet {
      font-size: 14px;
    }
  }
  &__title {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;
    color: #0f0e08;

    @include onTablet {
      font-size: 36px;
    }
  }
}
